.Democrat {
  background-color: #2A53C1;
}

.Democrat h1{
  font-family: sans-serif;
  color: #2A53C1;
}

.Democrat h2{
  font-family: sans-serif;
  color: #2A53C1;
}

.Democrat .top{
  font-family: sans-serif;
  text-align: center;
  border: 10px solid #202A5D;
  padding: 10px;
  background-color: #F5F6FA;
}

.Democrat .bottom{
  font-family: sans-serif;
  border: 10px solid #202A5D;
  padding: 10px;
  background-color: #F5F6FA;
}

.Democrat #bio{
  display: block;
  border: 10px solid #202A5D;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

.Democrat #social{
  display: inline-block;
  border: 10px solid #202A5D;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

.Democrat #econ{
  display: inline-block;
  border: 10px solid #202A5D;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

.Democrat #fp{
  display: inline-block;
  border: 10px solid #202A5D;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

.Democrat #interviews{
  display: inline-block;
  border: 10px solid #202A5D;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

.Democrat #speeches{
  display: inline-block;
  border: 10px solid #202A5D;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

.Republican {
  background-color: #DC2039;
}

.Republican h1{
  font-family: sans-serif;
  color: #DC2039;
}

.Republican h2{
  font-family: sans-serif;
  color: #DC2039;
}

.Republican .top{
  font-family: sans-serif;
  text-align: center;
  border: 10px solid #941324;
  padding: 10px;
  background-color: #F5F6FA;
}

.Republican .bottom{
  font-family: sans-serif;
  background-color: #F5F6FA;
}

.Republican #bio{
  display: block;
  border: 10px solid #941324;
  font-family: sans-serif;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

.Republican #social{
  display: inline-block;
  border: 10px solid #941324;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

.Republican #econ{
  display: inline-block;
  border: 10px solid #941324;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

.Republican #fp{
  display: inline-block;
  border: 10px solid #941324;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

.Republican #interviews{
  display: inline-block;
  border: 10px solid #941324;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

.Republican #speeches{
  display: inline-block;
  border: 10px solid #941324;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #F5F6FA;
  font-family: sans-serif;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
}
