body{
  text-align: center;
  background-color: #202A5D;
}

h1{
  font-family: sans-serif;
  text-align: center;
  border: 10px solid #DC2039;
  padding: 10px;
  background-color: #F5F6FA;
  display: block;
}
p{


}

#intro {
   font-weight: bold;
   font-family: sans-serif;
   text-align: center;
   border: 10px solid #DC2039;
   padding: 10px;
   background-color: #F5F6FA;
   display: block;
 }
/*#aboutus{
  display: inline-block;;
  border
}*/
#candidatebox{
   display: inline-block;
   border: 10px solid purple;
   padding: 10px;
   margin-bottom: 15px;
   background-color: #F5F6FA;
   font-family: sans-serif;
 }

table, th, td {
   text-align: center
   layout: fixed
   border: 1px solid black;
   border-collapse: collapse;
   /*background-color: rgb(60, 119, 100);*/
   font-weight: bold;
 }
