<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "../CSS/links_style.css"></link>
    <title>Results</title>
  </head>
  <body>
  <button><a href="/">Home</a></button>

  <h1>We are BLX!</h1>

  <p>Brandi, Leelabari, and Ximena are students at Google's Computer Science Summer Institute. They will each be college freshmen at UMBC, Iowa State University, and MIT, respectively, in the fall.
  They are all passionate about combining technology and civil engagement, and wanted to make an app that reflected this. </p>

  <button><a href="{{users.create_logout_url('/')}}">Logout</a></button>
  </body>

</html>
