<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "../CSS/candidates_style.css"></link>
    <title>Candidate Profile</title>
  </head>

  <body class = "{{candidate1.party}}">

  <div id = "whole">
    <div class = "top">
      <h1>{{candidate1.name}}</h1>

      <h2>{{candidate1.party}}</h2>
    </div>

    <br><br><br>

      <div id = "bio">
        <h3>BIOGRAPHY</h3>
        <p>{{candidate1.bio}}</p>
      </div>

      <div id = "stances">
        <div id = "social">
          <h3>SOCIAL ISSUES</h3>

          {% if candidate1.abortion == "True" %}
            <p> This candidate is pro-choice</p>

          {% else %}
            <p> This candidate is pro-life</p>
          {% endif %}

          {% if candidate1.marriage == "True" %}
            <p> This candidate does support same sex marriage</p>
          {% else %}
            <p> This candidate does not support same sex marriage</p>
          {% endif %}

          {% if candidate1.aff_action == "True" %}
            <p> This candidate does support affirmative action</p>
          {% else %}
            <p> This candidate does not support affirmative action</p>
          {% endif %}

          {% if candidate1.deny_service == "True" %}
            <p> This candidate believes that businesses shoule be able to deny services to others based on religious beliefs</p>
          {% else %}
            <p> This candidate does not support the right for people to deny services to others based on religious beliefs</p>
          {% endif %}

          {% if candidate1.env_reg == "True" %}
            <p> This candidate supports increases of environmental regulations</p>
          {% else %}
            <p> This candidate supports decreases of environmental regulations</p>
          {% endif %}
        </div>

        <div id = "econ">
          <h3>ECONOMIC ISSUES</h3>

          {% if candidate1.net_neutrality == "True" %}
            <p> This candidate does support net neutrality</p>
          {% else %}
            <p> This candidate does not support net neutrality</p>
          {% endif %}

          {% if candidate1.corp_tax == "True" %}
            <p> This candidate does support increases on the corporate tax</p>
          {% else %}
            <p> This candidate does not support increases on the corporate tax</p>
          {% endif %}

          {% if candidate1.prog_tax == "True" %}
            <p> This candidate does support the progressive tax</p>
          {% else %}
            <p> This candidate does not support increases on the progressive tax</p>
          {% endif %}

          {% if candidate1.health_care == "True" %}
            <p> This candidate does support universal health care laws</p>
          {% else %}
            <p> This candidate does not support universal health care laws</p>
          {% endif %}
        </div>

        <div id = fp>
          <h3>FOREIGN POLICY ISSUES</h3>
          {% if candidate1.border_sec == "True" %}
            <p> This candidate does support stricter measures for border security </p>
          {% else %}
            <p> This candidate does not support stricter measures for border security</p>
          {% endif %}

          {% if candidate1.border_sec == "True" %}
            <p> This candidate does support decreasing military spending</p>
          {% else %}
            <p> This candidate does not support decreasing military spending</p>
          {% endif %}

          {% if candidate1.isis == "True" %}
            <p> This candidate does believe that ISIS is a threat to U.S. interests</p>
          {% else %}
            <p> This candidate does not believe that ISIS is a threat to U.S. interests</p>
          {% endif %}
        </div>
      </div>

      <div id = "videos">
        <div id = "interviews">
          <h3>INTERVIEWS</h3>

          <iframe id=candInt1 width="300" height="200" src=https://www.youtube.com/embed/{{candidate1.intID1}} frameborder="0"></iframe>
          <iframe id=candInt2 width="300" height="200" src=https://www.youtube.com/embed/{{candidate1.intID2}} frameborder="0"></iframe>
        </div>

        <div id = "speeches">
          <h3>SPEECHES</h3>

          <iframe id=candSpe1 width="300" height="200" src=https://www.youtube.com/embed/{{candidate1.speID1}} frameborder="0"></iframe>
          <iframe id=candSpe2 width="300" height="200" src=https://www.youtube.com/embed/{{candidate1.speID2}} frameborder="0"></iframe>
        </div>
      </div>
    <button><a href="{{users.create_logout_url('/')}}">Logout</a></button>
  </body>
</html>
