<html>
  <head>
    <title>Candidate Profile</title>
  </head>

  <body>

  <h1>{{candidate.name}}</h1>

  <h2>{{candidate.party}}</h2>

  <br><br><br>

  <h3>Social Issues</h3>

  <h4>Abortion</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h4>Same-sex marriage</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h4>Affirmative action</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h3>Economic Issues</h3>

  <h4>Net neutrality</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h4>Taxes</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h4>Health Care</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h3>Foreign Policy Issues</h3>

  <h4>Immigration</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h4>The Military and War</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </body>
</html>
