<html>
  <head>
    <title>Candidate Profile</title>
  </head>

  <body>

  <h1>{{candidate.name}}</h1>

  <h2>{{candidate.party}}</h2>

  <br><br><br>

  <h3>Social Issues</h3>

  <h4>Abortion</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h4>Same-sex marriage</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h4>Affirmative action</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h3>Economic Issues</h3>

  <h4>Net neutrality</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h4>Taxes</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h4>Health Care</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h3>Foreign Policy Issues</h3>

  <h4>Immigration</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  <h4>The Military and War</h4>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<h3>Interviews</h3>

<iframe id=candInt1 width="300" height="200" src=https://www.youtube.com/embed/{{candidate.intID1}} frameborder="0"></iframe>
<iframe id=candInt2 width="300" height="200" src=https://www.youtube.com/embed/{{candidate.intID2}} frameborder="0"></iframe>

<h3>Speeches</h3>

<iframe id=candSpe1 width="300" height="200" src=https://www.youtube.com/embed/{{candidate.speID1}} frameborder="0"></iframe>
<iframe id=candSpe2 width="300" height="200" src=https://www.youtube.com/embed/{{candidate.speID2}} frameborder="0"></iframe>

  </body>
</html>
