<html>

  <head>
    <link rel = "stylesheet" type = "text/css" href = "../CSS/links_style.css"></link>

    <title>Results</title>
  </head>

  <body>

    <h1>Results</h1>


    <a href = "http://localhost:22080/candidates?candidate={{result.key.id()}}">{{result.name}}</a>
      
    <a href = "http://localhost:8100/candidates?candidate={{result.key.id()}}">{{result.name}}</a>

    <div id = "bottom">
    <a href = "http://localhost:18080/candidates?candidate={{result.key.id()}}">{{result.name}}</a>
    </div>
    </body>

</html>
