<html>
  <head>
    <title>Making Your Profile</title>
    </head>

    <body>
      <h2>Social Issues</h2>
      <!-- <form method='post'>
        <p>What are your thoughts on:<input type='text' name='name'/></p>
        <p>university: <input type='text' name='university'/></p>

        <p>age: <input type='text' name='age'/></p>
        <p><input type="submit"/></p>
      </form> -->
          <p>Are you pro-choice or pro-life?</p>
            <select>
              <option value="pro-choice">Pro-Choice</option>
              <option value="pro-life">Pro-life</option>
              <!-- <option value="mercedes">Mercedes</option> -->
            </select>

          <p>Do you support the legalization of same-sex marriage?</p>
            <select>
              <option value="samesexyes">Yes</option>
              <option value="samesexno">No</option>
              <!-- <option value="mercedes">Mercedes</option> -->
            </select>

          <p>Do you support affirmative action policies?</p>
            <select>
              <option value="aayes">Yes</option>
              <option value="aano">No</option>
              <!-- <option value="mercedes">Mercedes</option> -->
            </select>

          <p>Should the government increase environmental regulations to prevent global warming?</p>
            <select>
              <option value="eryes">Yes</option>
              <option value="erno">No</option>
              <!-- <option value="mercedes">Mercedes</option> -->
            </select>

          <p>Do you believe that business should be able to deny service to a customer based on religious beliefs?</p>
            <select>
              <option value="rbyes">Yes</option>
              <option value="rbno">No</option>
              <!-- <option value="mercedes">Mercedes</option> -->
            </select>


      <h2>Economic Issues</h2>
          <p>Should internet service providers be allowed to prioritize traffic for websites that pay higher rates than their competitors?</p>
            <select>
              <option value="ispyes">Yes</option>
              <option value="ispno">No</option>
              <!-- <option value="mercedes">Mercedes</option> -->
            </select>

          <p>Do you believe the U.S. should reduce the corporate tax rate?</p>
            <select>
              <option value="ctryes">Yes</option>
              <option value="ctrno">No</option>
              <!-- <option value="mercedes">Mercedes</option> -->
            </select>

          <p>Do you support the progressive tax?</p>
            <select>
              <option value="ptyes">Yes</option>
              <option value="ptno">No</option>
              <!-- <option value="mercedes">Mercedes</option> -->
            </select>

          <p>Do you believe that the government should mandate all employers to provide affordable health care to all workers?</p>
            <select>
              <option value="ahcyes">Yes</option>
              <option value="ahcno">No</option>
              <!-- <option value="mercedes">Mercedes</option> -->
            </select>

      <h2>Foreign Policy</h2>
          <p>Do you support stronger measures to increase our border security?</p>
              <select>
                <option value="bsyes">Yes</option>
                <option value="bsno">No</option>
                    <!-- <option value="mercedes">Mercedes</option> -->
              </select>

          <p>Do you believe the U.S. should decrease its military spending?</p>
              <select>
                <option value="msyes">Yes</option>
                <option value="msno">No</option>
                    <!-- <option value="mercedes">Mercedes</option> -->
                </select>

          <p>Do you believe that ISIS/ISL is a threat to U.S. security that should be dealt with?</p>
              <select>
              <option value="isisyes">Yes</option>
              <option value="isisno">No</option>
                    <!-- <option value="mercedes">Mercedes</option> -->
              </select>

      <p><input type="submit"></p>


    </body>
</html>
