<html>
  <head>
    <link rel = "stylesheet" type = "text/css" href = "../CSS/search_style.css"></link>
    <title>Search</title>
  </head>
  <body>
    <button><a href="/">Home</a></button>
    <h1>Search for a candidate</h1>

    <div id = "bottom">
      <form method = "get" action = "/links">
          <input type = "text" name = "search">
          <input type = "submit">
      </form>
    </div>
      <button><a href="{{users.create_logout_url('/')}}">Logout</a></button>
    </body>

</html>
